{{ define "main" }}
    {{ .Content }}
    
    <section>
    <h2>Upcoming gigs:</h2>
    {{ range where .Data.Pages.ByDate "Date" ">=" now }}
        {{ partial "gig.html" . }}
    {{ end }}
    </section>

    <section>
    <h2>Recent gigs:</h2>
    {{ range first "2" ((where .Data.Pages.ByDate.Reverse "Date" "<" now).GroupByDate "2006") }}
        <section>
            <h3>{{ .Key }}</h3>
            {{ range .Pages }}
                {{ partial "gig.html" . }}
            {{ end }}
        </section>            
    {{ end }}
    </section>
{{ end }}