{{ define "main" }}
    {{ .Content }}

<style>
    ol {
        list-style-type: disc;
    }
    ol li {
        list-style-position: outside;
    }
</style>
    <section>
        <h2>Upcoming gigs:</h2>
        {{ range ((where .Data.Pages.ByDate "Date" ">=" now).GroupByDate "2006").Reverse }}
        <section>
            {{ if ne .Key (dateFormat "2006" now) }}<h3>{{ .Key }}</h3>{{end}}
            <ol>
                {{ range .Pages.Reverse }}
                {{ partial "gig.html" . }}
                {{ end }}
            </ol>
        </section>
        {{ end }}
    </section>

    <section>
    <h2>Recent gigs:</h2>
    {{ range first "2" ((where .Data.Pages.ByDate.Reverse "Date" "<" now).GroupByDate "2006") }}
        <section>
            <h3>{{ .Key }}</h3>
            <ol>
                {{ range .Pages }}
                    {{ partial "gig.html" . }}
                {{ end }}
            </ol>
        </section>            
    {{ end }}
    </section>
{{ end }}