{{ define "main" }}
{{ .Scratch.Set "description" "Join us for an evening of rock, pop, ballads and jazz. Dancers and non-dancers are all welcome!" }}
{{ if ne (len .Content) 0}} {{ .Scratch.Set "description" .Content }} {{end}}
{{ .Scratch.Set "description" (printf "%s %s" "If you are looking for music that you recognise and enjoy then the Mainland Big Band has it." (.Scratch.Get "description")) }}
{{ if isset .Params "price" }}{{ .Scratch.Set "price" (index .Params "price") }} {{ else }} {{ .Scratch.Set "price" 10 }} {{ end }}
<style>
    .summary div {
        display: table-row;
    }
    .summary div span {
        display: table-cell;
    }
    .summary div span:first-child {
        padding-right: 1em;
        font-weight: bold;
    }
    
    .cancelled {
        text-decoration: line-through;
    }
</style>
<section class="summary {{.Params.tags}}">
    <h2>Gig Details</h2>
    <div>
        <span>When:</span><span>{{.Date.Format "January 2, 3:04 PM"}}</span>
    </div>
    <div>
        <span>Where:</span><span><a href="https://www.google.com/maps/place/?q=place_id:{{.Params.googleid}}">{{.Params.where}}</a></span>
    </div>
    <div>
        <span>Price:</span><span>${{ .Scratch.Get "price" }}</span>
    </div>
</section>
<section>
<h2>Gig Info</h2>
{{ safeHTML (.Scratch.Get "description")}}
</section>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "The Mainland Big Band plays {{.Params.where}}",
  "startDate": {{.Date.Format "2006-01-02T15:04:05-07:00" | jsonify}},
  "location": {
    "@type": "Place",
    "name": "{{.Params.where}}",
    {{ partial "gigpostal.html" . .Params.googleid }}
  },
  {{ .Scratch.Set "images" (slice "this element should be removed with 'after 1'") }}
    {{ with .Site.GetPage "section" "carousel" }} {{ with .Resources.ByType "image" }}
            {{ range . }} {{ $scaledHi := .Fill "2160x892 Top"}} {{ $.Scratch.Add "images" ($scaledHi.Permalink | jsonify)}}
            {{ end }}
        {{ end }}
    {{ end }}
    "image": [ {{ delimit (after 1 ($.Scratch.Get "images")) "," }}],
  "description": "{{ replace ((.Scratch.Get "description") | plainify) "\n" " " }}",
  "endDate": "{{.Date.Format "2006-01-02"}}",
  "offers": {
    "@type": "Offer",
    "price": "{{ .Scratch.Get "price" }}",
    "priceCurrency": "NZD",
    "availability": "http://schema.org/InStock",
    "validFrom": {{ (.Date.AddDate 0 -1 0).Format "2006-01-02T15:04:05Z0700" | jsonify }}
  },
  "performer": {
    "@type": "PerformingGroup",
    "name": "The Mainland Big Band"
  }
}
</script>

{{ end }}