<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous" />

    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b10f24">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    <title>{{ .Site.Title }}: {{ .Title }}</title>
    <meta name="description" content="{{ index (split (.Summary | htmlEscape) ".") 0}}.">
    <link rel="canonical" href="{{.Page.Permalink | absURL}}" />
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Ld7WVgsAAAAAPMKu4Qi7xPjw0WGiMSojzf3uuz3"></script>
    <style>
        .logo {
            position: absolute;
            top: 0;
            z-index: 1;
            height: 75%;
        }

        .nav-pills .nav-link.active {
            background-color: black;
            color: white;
        }

        .nav-link {
            color: black;
        }

        .nav {
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        .nav, h1, h2, h3 {
            font-family: 'Limelight', cursive;
        }

        .container {
            padding-left: 1em;
            padding-right: 1em;
            background-color: white;
        }

        body {
            background: #b10f24 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 8.996 8.996"><path opacity=".12" fill="none" stroke="%23000" stroke-width=".182" d="M-.004 4.498L4.498-.003l4.501 4.501L4.498 9z"/></svg>');
        }
        
        .lazy-carousel-item {
            display: none;
        }

        a:hover {
            color: #d83f39;
        }

        .footer * {
            vertical-align: sub;
        }
        
        body section {
            margin-bottom: 2em;
        }
        
        form {
            margin-bottom: 2em;
        }
        
        p.cancelled {
            text-decoration: line-through;
        }

        img.hero {
            max-width: 100%;
            height: auto;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="headerCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
                <div class="carousel-inner">
                    {{ with .Site.GetPage "section" "carousel" }}
                        {{ $.Scratch.Set "firstCarouselImage" true }}
                        {{ with .Resources.ByType "image" }}
                            {{ range . }}
                            {{ $scaledHi := .Fill "2160x892 Top"}}
                            {{ $scaledMed := .Fill "1080x446 Top"}}
                            {{ $scaledLo := .Fill "540x223 Top"}}
                            <div class='{{ if not ($.Scratch.Get "firstCarouselImage")}}lazy-{{ end }}carousel-item {{ if $.Scratch.Get "firstCarouselImage"}}active{{ end }}'>
                                <img class="d-block w-100" 
                                     {{ if not ($.Scratch.Get "firstCarouselImage")}}data-lazy-{{ end }}src="{{ $scaledMed.RelPermalink }}" 
                                     {{ if not ($.Scratch.Get "firstCarouselImage")}}data-lazy-{{ end }}srcset="{{ $scaledLo.RelPermalink }} 540w, {{ $scaledMed.RelPermalink }} 1080w, {{ $scaledHi.RelPermalink }} 2160w" 
                                    alt="MBB">
                            </div>
                            {{ $.Scratch.Set "firstCarouselImage" false }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <img class="logo" src="/assets/images/logo.svg" alt="Logo">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills nav-fill">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ if not (eq .Identifier "carousel") }}
                    <li class="nav-item">
                        <a class="nav-link {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
                    </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
    {{ if isset .Params "hero" }}
    <div class="row">
        <div class="col-md-12 text-center pb-3">
            {{ with .Resources.GetMatch (index .Params "hero") }}
            <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="hero">
            {{ end }}
        </div>
    </div>
    {{ end }}
    <div class="row">
        <div class="col-md-8">
            {{ block "main" . }}
            {{ end }}
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Next Gig</h2>
                    {{ range first 1 (where (where .Site.Pages "Section" "=" "gigs").ByDate "Date" ">=" now) }}
                    <p class="card-text {{.Params.tags}}"><a href="{{.RelPermalink}}">{{.Date.Format "January 2, 3:04 PM"}}</a><br><a href="https://www.google.com/maps/place/?q=place_id:{{.Params.googleid}}">{{.Params.where}}</a><br>${{ if isset .Params "price" }}{{ index .Params "price" }}{{else}}10{{ end }} entry<br>{{.Content}}</p>
                    {{end}}
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Never miss a gig</h2>
                    <p>Enter your email to join our mailing list</p>

                    <div id="mlb2-14604881" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-14604881" style="text-align:center;">
                        <div class="ml-form-align-center ">
                            <div class="ml-form-embedWrapper embedForm">

                                <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">

                                    <form id="giglist-form" class="ml-block-form" action="https://assets.mailerlite.com/jsonp/836428/forms/120657762082359249/subscribe" data-code="" method="post" target="_blank">
                                        <div class="ml-form-formContent">
                                            <div class="ml-form-fieldRow ml-last-item">
                                                <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">

                                                    <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">

                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" name="ml-submit" value="1">

                                        <div class="ml-form-embedSubmit">

                                            <button class="g-recaptcha" data-sitekey="6Lf1KHQUAAAAAFNKEX1hdSWCS3mRMv4FlFaNslaD" data-callback='onSubmit'
                                                    data-action='submit' type="submit">Subscribe</button>

                                        </div>

                                        <input type="hidden" name="anticsrf" value="true">
                                    </form>
                                </div>

                                <div class="ml-form-successBody row-success" style="display: none">
                                    <div class="ml-form-successContent">
                                        <p>Thank you! Please check your email to confirm your subscription.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        function ml_webform_success_14604881() {
                            var $ = ml_jQuery || jQuery;
                            $('.ml-subscribe-form-14604881 .row-success').show();
                            $('.ml-subscribe-form-14604881 .row-form').hide();
                        }
                    </script>

                    <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v2d8fb22bb5b3677f161552cd9e774127" type="text/javascript"></script>
                    <script>
                        fetch("https://assets.mailerlite.com/jsonp/836428/forms/120657762082359249/takel")
                    </script>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Players Wanted</h2>
                    <p class="card-text players-wanted">Are you a musician? Check out our <a href="/players-wanted/">Players Wanted</a> page and join us!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="footer float-right">
                <a class="facebook" title="Find us on Facebook!" href="//facebook.com/MainlandBigBand">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 94.154 94.155"><defs><clipPath id="a"><path d="M0 500h1024V0H0z"/></clipPath></defs><g clip-path="url(#a)" transform="matrix(.35278 0 0 -.35278 -43.587 136.683)"><path d="M375.716 120.553c8.134 0 14.73 6.596 14.73 14.73v237.434c0 8.137-6.596 14.73-14.73 14.73H138.283c-8.137 0-14.73-6.593-14.73-14.73V135.283c0-8.134 6.593-14.73 14.73-14.73z" fill="#3c5a99"/><path d="M307.705 120.553v103.355h34.693l5.194 40.28h-39.887v25.717c0 11.662 3.238 19.609 19.962 19.609l21.33.01v36.026c-3.69.49-16.351 1.587-31.081 1.587-30.753 0-51.806-18.771-51.806-53.244v-29.705h-34.781v-40.28h34.78V120.553z" fill="#fff"/></g></svg>
                </a>
                <a class="contact-us" title="Email us" href="mailto:info@mainlandbigband.co.nz">
                    <svg fill="#d83f39" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                    </svg></a>
            </p>
        </div>
    </div>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha256-uz0BcnPtSHZ02XZthAHPRYIoWWrcwMOmAk9ErnFQkNs=" crossorigin="anonymous"></script>

<script>
    window.addEventListener('load', function() {
        document.querySelectorAll('.lazy-carousel-item img').forEach(function(image) {
            var lazySrc = image.getAttribute('data-lazy-src');
            var lazySrcSet = image.getAttribute('data-lazy-srcset');
            if (lazySrc) {
                image.setAttribute('src', lazySrc);
                image.setAttribute('srcset', lazySrcSet);
                image.removeAttribute('data-lazy-src');
                image.removeAttribute('data-lazy-srcset');
                var classList = image.parentNode.classList;
                classList.remove('lazy-carousel-item');
                classList.add('carousel-item');
                
            }
        });
    });

    function onSubmit(token) {
        document.getElementById("giglist-form").submit();
    }
</script>
</body>
</html>